.app{
    color: #10e929;
    color: #0a4811;
    color: #969407;
    color: #b40d0d;
    color: #b6b5b5;
    color: #b6b5b5;
}

.nwcmap{
    display: flex;


   
}

.popup-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .popup-table  td, #customers th {
    
    padding: 8px;
  }
  
  .popup-table  tr:nth-child(odd){background-color: #cee1ef;}
  
  .popup-table  tr:hover {background-color: #ddd;}
  
  .popup-table  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;}
